
#character{
    position: relative;
    z-index:-1;
    right: 4500px;
    margin-top: 100px;
    transform: rotateY(180deg);
    animation: character 3s infinite linear;
}

#lives{
    display: inline;
    margin-left: 1200px;
    position: fixed;
}

@keyframes character{
    0%{top: 125px}
    50%{top: 75px}
    100%{top: 125px}

}

#knight {
    position: absolute;
    left: 1050px;
    margin-top: 1px;
    margin-bottom: 100px;
}

#knight1 {
    position: relative;
    left: 2475px;
    display: block;
    margin-bottom: 200px;
}

body {

    background: url('/img/dungeon.png') repeat-x ; 
    background-size: 100%;
    background-position-y: top;
    width: 5000px;
}

#startButton {
    background-color:darkslategrey;
    font-size: 40px;
    border-radius: 8px;
    padding: 10px;
    margin: 20px;
    font-family: 'Road Rage', cursive;
    display: inline-block;
    margin-left: 50px;
    position: fixed;
}

footer {
    background-color: black;
    height: 60px;
    width: auto;
}

#startButton:hover{
    background: red;
    transform: scale(1.3);
}

#start {
    position:absolute;
    left: 100px;
    top: 300px;
}

.container{
    margin : 20px auto;
    position: relative;
    display: inline-block;
}


.quest-container{
border: blanchedalmond;
border-style: dashed;
display:list-item;
display: inline-block;
margin-top: 1px;
background-color: darkmagenta;
}
.quest-container li{
    position: relative;
    color: cadetblue;
}

.answers:hover {
    color: rgb(240, 121, 10);
}

#gameover {
    position: fixed; 
    size: cover;
    z-index: 1;
    overflow:hidden;
    height: 100%;
    width: 100%;
}

#restart {
    background-color:rgb(207, 5, 5);
    font-size: 40px;
    border-radius: 8px;
    padding: 10px;
    margin: 20px;
    font-family: 'Road Rage', cursive;
    display: inline;
    margin-left: 50px;
    visibility: hidden;
    z-index: 2;
    
}
#restart:hover {
    background-color:green;
    transform: scale(1.3);
}